<% include partials/header%>



<div class="container">
   <img src="<%= photo.image %>" class="img-fluid rounded" alt="Responsive image"> 



<p><%=photo.name%></p>
</div>


<% include partials/footer%>

